<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Object Storage</title>
    <link rel="stylesheet" href="https://assignment3cssfiles.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>
<body>
        {% for row in files %}
        <div class="box">
            <h3>Filename : {{row}} </h3>
            <img src="https://storagebucketdemo.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="350px" height="250px">
        </div>
        {% endfor %}
</body>
</html>